body{
  margin: 0;
  padding: 0;
}

/* General link styling */
a {
  font-weight: 500;
  color: #4a4a4b;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

/* Navigation image styling */
nav img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 20px;
  margin-top: 3px;
}

/* Navigation container styling */
#nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5E17EB;
  padding: 5px 10px;
}

/* Navbar styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

/* Logo name styling */
#img-name {
  display: flex;
  color: black;
  align-items: center;
  font-weight: bold;
  font-size: larger;
}

/* Nav links styling */
.nav-links {
  display: flex;
  gap: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Nav links items styling */
.nav-links li {
  margin: 3px 15px;
  height: 10px;
  align-items: center;
  justify-content: center;
  background: yellow;
}

.nav-links li a {
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  color: black;
}

/* Responsive Styles */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
}

/* Mobile view */
@media (max-width: 768px) {
  nav {
    width: 100%;
    padding: 0 10px;
  }

  #img-name {
    font-size: medium;
  }

  /* Show menu toggle button on mobile */
  .menu-toggle {
    display: block;
    color: black;
  }

  /* Hide nav links by default on mobile */
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #5E17EB;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    z-index: 10;
  }

  /* Display nav links when active */
  .nav-links.active {
    display: flex;
  }

  /* Adjust link styling for mobile */
  .nav-links li {
    /* margin: 10px 0; */
    width: 100%;
    background: none;
  }

  .nav-links li a {
    color: black;
    font-size: 1rem;
    padding: 5px;
    display: block;
  }
}
